// Colors
$off-white: #f4f4ef;
$pure-white: #FFFFFF;
$light-pink: #BF9DB7;
$navy-blue: #030614;
$pastel-mint: #eafff2;
$medium-grey: #696A68;
$light-grey: #E1E2DC;
// Effects
$text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
