#painting:hover {
  opacity: .5;
}

.center {
  margin-top: 6.3em;
}

.slick-prev:before,
.slick-next:before {
  color: $navy-blue;
}

.artist-name {
  position:absolute;
  left: 30%;
  font-size: 4em;
  font-style: italic;
  color: $light-pink;
}

.artist {
  margin-top: 3em;
}