.period-title h1 {
  z-index: 3;
}

.period-wrapper {
  overflow: hidden;
  opacity: .8;
}

.period-title {
  text-align: center;
  font-style: italic;
  font-size: 7.6em;
  color: $pastel-mint;
  text-shadow: $text-shadow;
  text-decoration: none;
  z-index: 2;
}
