.period-wrapper {
  position: relative;
  overflow: hidden;
  opacity: .6;
}

.period-wrapper img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100
}

.period-title {
  position: relative;
  // font-style: italic;
  font-size: 7.6em;
  color: $pastel-mint;
  display: inline-block;
  right: -100%;
  transform: translateX(-100%);
  transition: right 1s, transform 1s;
    text-shadow: $text-shadow;

}

.period-wrapper:hover .period-title {
  right: -50%;
  transform: translateX(-50%);
}
