.period-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  opacity: .6;
}

.period-wrapper img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100
}

.period-title {
  position: relative;
  text-align: left;
  font-style: italic;
  font-size: 7.6em;
  color: $pastel-mint;
}
