.painting-page-wrapper {
  background: $off-white;
  position: absolute;
  top: 10.5%;
  bottom: 0;
  right: 0;
  left: 0;
}

.img-container {
  margin-top: 1.1em;
  border-right: .1em solid grey;
  width: 67.61em;
  height: 50em;
}

.painting-image {
  max-width: 64em;
  max-height: 50em;
  margin-top: 2.5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.painting-about {
  position: absolute;
  max-width: 66.5em;
  top: 2.5%;
  left: 55%;
  right: 8%;
  font-size: 1.5em;
}
// just for dev
.painting-about-1 {
  position: absolute;
  max-width: 66.5em;
  top: 35%;
  left: 55%;
  right: 8%;
  font-size: 1.5em;
}

.painting-detail {
  position: absolute;
  left: 2%;
  text-align: left;
  font-style: italic;
  bottom: 3%;
  top: 80.6%;
  width: 64.9em;
}

.painting-detail-year {
  font-size: 10.5em;
  position: absolute;
  bottom: -12%;
  left: 63%;
  opacity: .1;
}

.painting-detail-title {
  position: absolute;
  bottom: 5%;
}

.painting-detail-artist {
  position: absolute;
  color: $light-pink;
  top: 20%;
}

#comment-icon {
  position: absolute;
  right: 24%;
  bottom: 3%;
}

#comment-count {
  position: absolute;
  bottom: 7%;
  right: 26.1%;
  color: $light-grey;
  font-style: italic;
  font-size: 4.5em;
}

#comments:hover img,
#comments:hover h1 {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(2px);
}

.comments-area{
  position: absolute;
  right: 8%;
  top: .5%;
  background: $off-white;
  width: 52em;
  padding-left: 5em;
}