.list-wrapper {
  background: $navy-blue;
  position: absolute;
  top: 10.5%;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.list-wrapper:nth-child(odd) {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(2px);
}