.artist-list {
  background: $off-white;
  position: absolute;
  top: 10.5%;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-x: scroll;
}

#list-period-title {
  font-size: 6em;
  text-align: center;
}

.artist-list h1 {
  position: fixed;
  opacity: .1;
  transform: rotate(90deg);
}